.itemContainer {
  display: flex;
  flex-direction: column;
  width: 320px;
  height: 420px;
  border: 0px solid silver;
  border-radius: 20px;
  margin: 20px 15px 10px 0px;
  padding: 20px;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;

  &:hover {
    box-shadow: 2px 2px 10px 5px yellow;
    transform: translateY(-5px);
    transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
  }

  .imgContainer {
    img {
      padding: 10px;
      margin-bottom: 10px;
      border: 1px solid rgb(97, 242, 232);
      border-radius: 10px;
      margin: 15px 10px 10px 7px;
    }
  }

  .title {
    span {
      font-size: 18px;
      margin-bottom: 10px;
      font-weight: bold;
    }
  }

  .card {
    background: #56a58d;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: 390px;
  }

  .cardAction {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10px;
  }

  span {
    font-size: 18px;
    font-weight: bold;
  }
}

.displayDescription {
  p {
    font-size: 14px;
  }
  span {
    font-size: 15px;
  }
}
