.itemContainer {
  width: 320px;
  height: 420px;
  border: 0px solid silver;
  border-radius: 20px;
  margin: 20px 15px 10px 0px;
  padding: 15px;
  text-align: center;
  transition: 0.4s ease-in-out;

  &:hover {
    box-shadow: 0 0 15px 5px magenta;
    transform: translateY(-5px);
    transition: 0.4s ease-in-out;
  }

  .imgContainer {
    img {
      padding: 10px;
      margin-bottom: 10px;
      border: 1px solid rgb(97, 242, 232);
      border-radius: 15px;
      margin: 15px 10px 10px 7px;
    }
  }

  .title {
    span {
      display: inline-block;
      font-size: 18px;
      margin-bottom: 20px;
      font-weight: bold;
    }
  }

  .card {
    background: #56a58d;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 380px;
  }

  .cardAction {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    margin-top: 10px;
    button {
      border-radius: 10px;
      font-size: 20px;
    }
  }

  span {
    font-size: 20px;
    font-weight: bold;
  }
}

.displayDescription {
  p {
    font-size: 14px;
  }
  span {
    font-size: 15px;
  }
}
