.navMaine {
  width: 1450px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 30px;
  border: 0px ridge silver;
  border-radius: 10px;
  box-shadow: 2px 2px 10px 5px silver;
  padding: 5px;
  .refs a {
    color: black;
    font-size: 30px;
    font-weight: 700;
    margin-left: 20px;
  }
  .rep {
    margin-right: 40px;
  }
}
