.navMaine {
  width: 1300px;
  border: 1px ridge silver;
  border-radius: 10px;
  box-shadow: 2px 2px 10px 2px grey;
  padding: 5px;
  margin: 10px 0px 10px 100px;
  .refs a {
    color: black;
    font-size: 30px;
    font-weight: 700;
  }
}
