@font-face {
  font-family: "Montserrat";
  src: url(../../Assets/Fonts/Montserrat-Regular.ttf);
  font-weight: regular;
  font-style: normal;
}

@font-face {
  font-family: "MontserratT";
  src: url(../../Assets/Fonts/Montserrat-SemiBold.ttf);
  font-weight: bold;
  font-style: normal;
}

.basketItem {
  font-family: "Montserrat";
  font-size: 25px;
  font-weight: 600;

  span i {
    color: black;
  }

  img {
    vertical-align: middle;
    &:hover {
      cursor: pointer;
    }
  }
  svg {
    color: blue($color: #000000);
  }
}
