@font-face {
  font-family: "Montserrat";
  src: url(../../Assets/Fonts/Montserrat-Regular.ttf);
  font-weight: regular;
  font-style: normal;
}

@font-face {
  font-family: "MontserratT";
  src: url(../../Assets/Fonts/Montserrat-SemiBold.ttf);
  font-weight: bold;
  font-style: normal;
}

.basketItem {
  font-family: "Montserrat";
  font-size: 25px;
  font-weight: 600;

  span i {
    color: black;
  }

  img {
    vertical-align: middle;
    &:hover {
      cursor: pointer;
      opacity: 0.8;
      border-radius: 25px;
      border: 0 solid silver;
      box-shadow: 1px 1px 5px 5px magenta;
    }
  }
}
