* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

@font-face {
  font-family: "Montserrat";
  src: url(./Assets/Fonts/Montserrat-Regular.ttf);
  font-weight: regular;
  font-style: normal;
}

@font-face {
  font-family: "MontserratT";
  src: url(./Assets/Fonts/Montserrat-SemiBold.ttf);
  font-weight: bold;
  font-style: normal;
}

html {
  font-family: "Montserrat";
  background: rgb(5, 2, 2);
  color: rgb(0, 0, 0);
}
